<!-- Header Content -->
<div style="
  display: flex; 
  justify-content: center;
  align-items: center;
  background: #8257E5; 
  color: #FFF;
  width: 100%; 
  height: 142px;"
>
  <h1 style="font-size: 3rem;">Logo Proffy</h1>
</div> <!-- End Header -->